In [243]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [244]:
test = pd.read_csv("Test_u94Q5KV.csv")
train = pd.read_csv("Train_UWu5bXk.csv")

In [245]:
X = train.append(test,ignore_index = True,sort =True)
train_idx = len(train)
test_idx = len(X)-len(test)

In [246]:
categorical_var = [x for x in X.dtypes.index if X.dtypes[x]=='object']
categorical_var = [x for x in categorical_var if x not in ['Item_Identifier','Outlet_Identifier']]

for col in categorical_var:
    print (X[col].value_counts())

Low Fat    8485
Regular    4824
LF          522
reg         195
low fat     178
Name: Item_Fat_Content, dtype: int64
Fruits and Vegetables    2013
Snack Foods              1989
Household                1548
Frozen Foods             1426
Dairy                    1136
Baking Goods             1086
Canned                   1084
Health and Hygiene        858
Meat                      736
Soft Drinks               726
Breads                    416
Hard Drinks               362
Others                    280
Starchy Foods             269
Breakfast                 186
Seafood                    89
Name: Item_Type, dtype: int64
Tier 3    5583
Tier 2    4641
Tier 1    3980
Name: Outlet_Location_Type, dtype: int64
Medium    4655
Small     3980
High      1553
Name: Outlet_Size, dtype: int64
Supermarket Type1    9294
Grocery Store        1805
Supermarket Type3    1559
Supermarket Type2    1546
Name: Outlet_Type, dtype: int64

In [247]:
group = X.groupby(['Item_Type'])
group.Item_Weight.mean()
X.Item_Weight= group.Item_Weight.apply(lambda x:x.fillna(x.mean()))
print(sum(X['Item_Weight'].isnull()))

0

In [248]:
y = pd.crosstab(X['Outlet_Size'],X['Outlet_Type'])
y

Outlet_Type,Grocery Store,Supermarket Type1,Supermarket Type2,Supermarket Type3
Outlet_Size,,,,
High,0,1553,0,0
Medium,0,1550,1546,1559
Small,880,3100,0,0

In [249]:
z = X.iloc[:,[8,9,10]]
z

      Outlet_Identifier Outlet_Location_Type Outlet_Size
0                OUT049               Tier 1      Medium
1                OUT018               Tier 3      Medium
2                OUT049               Tier 1      Medium
3                OUT010               Tier 3         NaN
4                OUT013               Tier 3        High
5                OUT018               Tier 3      Medium
6                OUT013               Tier 3        High
7                OUT027               Tier 3      Medium
8                OUT045               Tier 2         NaN
9                OUT017               Tier 2         NaN
10               OUT049               Tier 1      Medium
11               OUT046               Tier 1       Small
12               OUT049               Tier 1      Medium
13               OUT046               Tier 1       Small
14               OUT013               Tier 3        High
15               OUT046               Tier 1       Small
16               OUT018               Tier 3      Medium
17               OUT049               Tier 1      Medium
18               OUT027               Tier 3      Medium
19               OUT035               Tier 2       Small
20               OUT013               Tier 3        High
21               OUT027               Tier 3      Medium
22               OUT035               Tier 2       Small
23               OUT019               Tier 1       Small
24               OUT046               Tier 1       Small
25               OUT017               Tier 2         NaN
26               OUT035               Tier 2       Small
27               OUT013               Tier 3        High
28               OUT010               Tier 3         NaN
29               OUT019               Tier 1       Small
...                 ...                  ...         ...
14174            OUT013               Tier 3        High
14175            OUT045               Tier 2         NaN
14176            OUT035               Tier 2       Small
14177            OUT013               Tier 3        High
14178            OUT027               Tier 3      Medium
14179            OUT027               Tier 3      Medium
14180            OUT046               Tier 1       Small
14181            OUT013               Tier 3        High
14182            OUT049               Tier 1      Medium
14183            OUT013               Tier 3        High
14184            OUT027               Tier 3      Medium
14185            OUT017               Tier 2         NaN
14186            OUT018               Tier 3      Medium
14187            OUT018               Tier 3      Medium
14188            OUT027               Tier 3      Medium
14189            OUT046               Tier 1       Small
14190            OUT046               Tier 1       Small
14191            OUT010               Tier 3         NaN
14192            OUT027               Tier 3      Medium
14193            OUT017               Tier 2         NaN
14194            OUT049               Tier 1      Medium
14195            OUT049               Tier 1      Medium
14196            OUT018               Tier 3      Medium
14197            OUT046               Tier 1       Small
14198            OUT049               Tier 1      Medium
14199            OUT046               Tier 1       Small
14200            OUT018               Tier 3      Medium
14201            OUT045               Tier 2         NaN
14202            OUT017               Tier 2         NaN
14203            OUT045               Tier 2         NaN

[14204 rows x 3 columns]

In [250]:
p = pd.crosstab(X['Outlet_Size'],X['Outlet_Location_Type'])
p
itemvis=X.pivot_table(values='Item_Visibility',index='Item_Identifier')
itemvis

                 Item_Visibility
Item_Identifier
DRA12                   0.034938
DRA24                   0.045646
DRA59                   0.133384
DRB01                   0.079736
DRB13                   0.006799
DRB24                   0.020596
DRB25                   0.079407
DRB48                   0.023973
DRC01                   0.020653
DRC12                   0.037862
DRC13                   0.028408
DRC24                   0.026913
DRC25                   0.047354
DRC27                   0.066423
DRC36                   0.046932
DRC49                   0.070950
DRD01                   0.066330
DRD12                   0.074150
DRD13                   0.049125
DRD15                   0.064930
DRD24                   0.035205
DRD25                   0.082385
DRD27                   0.020545
DRD37                   0.013352
DRD49                   0.167987
DRD60                   0.040369
DRE01                   0.179808
DRE03                   0.026061
DRE12                   0.061981
DRE13                   0.031673
...                          ...
NCX05                   0.110962
NCX06                   0.017934
NCX17                   0.113709
NCX18                   0.008293
NCX29                   0.101920
NCX30                   0.025977
NCX41                   0.017291
NCX42                   0.006482
NCX53                   0.014409
NCX54                   0.051698
NCY05                   0.059645
NCY06                   0.065816
NCY17                   0.126951
NCY18                   0.033510
NCY29                   0.088295
NCY30                   0.028140
NCY41                   0.086582
NCY42                   0.016440
NCY53                   0.056916
NCY54                   0.191145
NCZ05                   0.063030
NCZ06                   0.102096
NCZ17                   0.076568
NCZ18                   0.180954
NCZ29                   0.076774
NCZ30                   0.027302
NCZ41                   0.056396
NCZ42                   0.011015
NCZ53                   0.026330
NCZ54                   0.081345

[1559 rows x 1 columns]

In [251]:
from scipy.stats import mode
q=X.groupby('Outlet_Type')['Outlet_Size'].agg(lambda x:x.mode())
q

Outlet_Type
Grocery Store         Small
Supermarket Type1     Small
Supermarket Type2    Medium
Supermarket Type3    Medium
Name: Outlet_Size, dtype: object

In [252]:
n = X['Outlet_Size'].isnull()
X.loc[n,'Outlet_Size']=X.loc[n,'Outlet_Type'].apply(lambda x :q[x])
print (X['Outlet_Size'].isnull().sum())
print (X.isnull().sum())

0
Item_Fat_Content                0
Item_Identifier                 0
Item_MRP                        0
Item_Outlet_Sales            5681
Item_Type                       0
Item_Visibility                 0
Item_Weight                     0
Outlet_Establishment_Year       0
Outlet_Identifier               0
Outlet_Location_Type            0
Outlet_Size                     0
Outlet_Type                     0
dtype: int64

In [253]:
X['Item_Visibility'].replace(0,np.nan)
group2 = X.groupby(['Item_Identifier'])
group2.Item_Visibility.mean()
X.Item_Visibility = group2.Item_Visibility.apply(lambda x:x.fillna(x.mean()))
print(X['Item_Visibility'].isnull().sum())

0

In [254]:
X['mean_ratio']=X.apply(lambda x: x['Item_Visibility']/itemvis.loc[x['Item_Identifier']], axis=1)

In [255]:
X['Item_Type_Combined']=X['Item_Identifier'].apply(lambda x :x[0:2])
X['Item_Type_Combined']=X['Item_Type_Combined'].map({'FD':'Food','NC':'Non-Consumable','DR':'Drinks'})
X['Item_Type_Combined'].value_counts()

Food              10201
Non-Consumable     2686
Drinks             1317
Name: Item_Type_Combined, dtype: int64

In [256]:
X['Outlet_Years']=2013-X['Outlet_Establishment_Year']

In [257]:
X.dtypes

Item_Fat_Content              object
Item_Identifier               object
Item_MRP                     float64
Item_Outlet_Sales            float64
Item_Type                     object
Item_Visibility              float64
Item_Weight                  float64
Outlet_Establishment_Year      int64
Outlet_Identifier             object
Outlet_Location_Type          object
Outlet_Size                   object
Outlet_Type                   object
mean_ratio                   float64
Item_Type_Combined            object
Outlet_Years                   int64
dtype: object

In [258]:
X['Item_Fat_Content']= X['Item_Fat_Content'].replace({'LF':'Low Fat','reg':'Regular','low fat':'Low Fat'})
X['Item_Fat_Content'].value_counts()

Low Fat    9185
Regular    5019
Name: Item_Fat_Content, dtype: int64

In [259]:
X.loc[X['Item_Type_Combined']=="Non-Consumable",'Item_Fat_Content']="Non-Edible"
X['Item_Fat_Content'].value_counts()

Low Fat       6499
Regular       5019
Non-Edible    2686
Name: Item_Fat_Content, dtype: int64

In [260]:
X['Outlet_Type'].value_counts()

Supermarket Type1    9294
Grocery Store        1805
Supermarket Type3    1559
Supermarket Type2    1546
Name: Outlet_Type, dtype: int64

In [261]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
le = LabelEncoder()
part = X.iloc[:,[0,8,9,10,11,13]]
for i in part:
    X[i]=le.fit_transform(X[i])
X =pd.get_dummies(X,columns=['Item_Fat_Content','Outlet_Identifier','Outlet_Location_Type','Outlet_Size','Outlet_Type','Item_Type_Combined'],dtype = float)

In [262]:
X.dtypes

Item_Identifier               object
Item_MRP                     float64
Item_Outlet_Sales            float64
Item_Type                     object
Item_Visibility              float64
Item_Weight                  float64
Outlet_Establishment_Year      int64
mean_ratio                   float64
Outlet_Years                   int64
Item_Fat_Content_0           float64
Item_Fat_Content_1           float64
Item_Fat_Content_2           float64
Outlet_Identifier_0          float64
Outlet_Identifier_1          float64
Outlet_Identifier_2          float64
Outlet_Identifier_3          float64
Outlet_Identifier_4          float64
Outlet_Identifier_5          float64
Outlet_Identifier_6          float64
Outlet_Identifier_7          float64
Outlet_Identifier_8          float64
Outlet_Identifier_9          float64
Outlet_Location_Type_0       float64
Outlet_Location_Type_1       float64
Outlet_Location_Type_2       float64
Outlet_Size_0                float64
Outlet_Size_1                float64
Outlet_Size_2                float64
Outlet_Type_0                float64
Outlet_Type_1                float64
Outlet_Type_2                float64
Outlet_Type_3                float64
Item_Type_Combined_0         float64
Item_Type_Combined_1         float64
Item_Type_Combined_2         float64
dtype: object

In [263]:
X.drop(['Item_Type','Outlet_Establishment_Year'],axis =1,inplace =True)

In [264]:
X.count()

Item_Identifier           14204
Item_MRP                  14204
Item_Outlet_Sales          8523
Item_Visibility           14204
Item_Weight               14204
mean_ratio                14204
Outlet_Years              14204
Item_Fat_Content_0        14204
Item_Fat_Content_1        14204
Item_Fat_Content_2        14204
Outlet_Identifier_0       14204
Outlet_Identifier_1       14204
Outlet_Identifier_2       14204
Outlet_Identifier_3       14204
Outlet_Identifier_4       14204
Outlet_Identifier_5       14204
Outlet_Identifier_6       14204
Outlet_Identifier_7       14204
Outlet_Identifier_8       14204
Outlet_Identifier_9       14204
Outlet_Location_Type_0    14204
Outlet_Location_Type_1    14204
Outlet_Location_Type_2    14204
Outlet_Size_0             14204
Outlet_Size_1             14204
Outlet_Size_2             14204
Outlet_Type_0             14204
Outlet_Type_1             14204
Outlet_Type_2             14204
Outlet_Type_3             14204
Item_Type_Combined_0      14204
Item_Type_Combined_1      14204
Item_Type_Combined_2      14204
dtype: int64

In [265]:
train = X[:train_idx]
test = X[test_idx:]

In [266]:
test.drop(['Item_Outlet_Sales'],axis =1,inplace =True)

C:\Users\Srikant\Anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [267]:
train.dtypes

Item_Identifier            object
Item_MRP                  float64
Item_Outlet_Sales         float64
Item_Visibility           float64
Item_Weight               float64
mean_ratio                float64
Outlet_Years                int64
Item_Fat_Content_0        float64
Item_Fat_Content_1        float64
Item_Fat_Content_2        float64
Outlet_Identifier_0       float64
Outlet_Identifier_1       float64
Outlet_Identifier_2       float64
Outlet_Identifier_3       float64
Outlet_Identifier_4       float64
Outlet_Identifier_5       float64
Outlet_Identifier_6       float64
Outlet_Identifier_7       float64
Outlet_Identifier_8       float64
Outlet_Identifier_9       float64
Outlet_Location_Type_0    float64
Outlet_Location_Type_1    float64
Outlet_Location_Type_2    float64
Outlet_Size_0             float64
Outlet_Size_1             float64
Outlet_Size_2             float64
Outlet_Type_0             float64
Outlet_Type_1             float64
Outlet_Type_2             float64
Outlet_Type_3             float64
Item_Type_Combined_0      float64
Item_Type_Combined_1      float64
Item_Type_Combined_2      float64
dtype: object

In [268]:
test.dtypes

Item_Identifier            object
Item_MRP                  float64
Item_Visibility           float64
Item_Weight               float64
mean_ratio                float64
Outlet_Years                int64
Item_Fat_Content_0        float64
Item_Fat_Content_1        float64
Item_Fat_Content_2        float64
Outlet_Identifier_0       float64
Outlet_Identifier_1       float64
Outlet_Identifier_2       float64
Outlet_Identifier_3       float64
Outlet_Identifier_4       float64
Outlet_Identifier_5       float64
Outlet_Identifier_6       float64
Outlet_Identifier_7       float64
Outlet_Identifier_8       float64
Outlet_Identifier_9       float64
Outlet_Location_Type_0    float64
Outlet_Location_Type_1    float64
Outlet_Location_Type_2    float64
Outlet_Size_0             float64
Outlet_Size_1             float64
Outlet_Size_2             float64
Outlet_Type_0             float64
Outlet_Type_1             float64
Outlet_Type_2             float64
Outlet_Type_3             float64
Item_Type_Combined_0      float64
Item_Type_Combined_1      float64
Item_Type_Combined_2      float64
dtype: object

In [269]:
train.to_csv("train_modified.csv",index=False)
test.to_csv("test_modified.csv",index=False)

In [270]:
test.dtypes

Item_Identifier            object
Item_MRP                  float64
Item_Visibility           float64
Item_Weight               float64
mean_ratio                float64
Outlet_Years                int64
Item_Fat_Content_0        float64
Item_Fat_Content_1        float64
Item_Fat_Content_2        float64
Outlet_Identifier_0       float64
Outlet_Identifier_1       float64
Outlet_Identifier_2       float64
Outlet_Identifier_3       float64
Outlet_Identifier_4       float64
Outlet_Identifier_5       float64
Outlet_Identifier_6       float64
Outlet_Identifier_7       float64
Outlet_Identifier_8       float64
Outlet_Identifier_9       float64
Outlet_Location_Type_0    float64
Outlet_Location_Type_1    float64
Outlet_Location_Type_2    float64
Outlet_Size_0             float64
Outlet_Size_1             float64
Outlet_Size_2             float64
Outlet_Type_0             float64
Outlet_Type_1             float64
Outlet_Type_2             float64
Outlet_Type_3             float64
Item_Type_Combined_0      float64
Item_Type_Combined_1      float64
Item_Type_Combined_2      float64
dtype: object

In [271]:
Tr = train.iloc[:,2].values
train2 = train.drop(['Item_Outlet_Sales','Item_Identifier'],axis =1)
train2.dtypes

Item_MRP                  float64
Item_Visibility           float64
Item_Weight               float64
mean_ratio                float64
Outlet_Years                int64
Item_Fat_Content_0        float64
Item_Fat_Content_1        float64
Item_Fat_Content_2        float64
Outlet_Identifier_0       float64
Outlet_Identifier_1       float64
Outlet_Identifier_2       float64
Outlet_Identifier_3       float64
Outlet_Identifier_4       float64
Outlet_Identifier_5       float64
Outlet_Identifier_6       float64
Outlet_Identifier_7       float64
Outlet_Identifier_8       float64
Outlet_Identifier_9       float64
Outlet_Location_Type_0    float64
Outlet_Location_Type_1    float64
Outlet_Location_Type_2    float64
Outlet_Size_0             float64
Outlet_Size_1             float64
Outlet_Size_2             float64
Outlet_Type_0             float64
Outlet_Type_1             float64
Outlet_Type_2             float64
Outlet_Type_3             float64
Item_Type_Combined_0      float64
Item_Type_Combined_1      float64
Item_Type_Combined_2      float64
dtype: object

In [272]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

# Create the parameter grid based on the results of random search 
param_grid = {
    'bootstrap': [True],
    'max_depth': [5,17,6,10],
    'max_features': [0.7,'log2','auto'],
    'min_samples_leaf': [50,60,100],
    'min_samples_split': [18],
    'n_estimators': [400]
}

# Create a base model
rf = RandomForestRegressor(random_state = 0)

# Instantiate the grid search model
grid_search = GridSearchCV(estimator = rf, param_grid = param_grid, 
                          cv = 4, n_jobs = -1, verbose = 2, return_train_score=True)

In [273]:
grid_search.fit(train2,Tr)

Fitting 4 folds for each of 36 candidates, totalling 144 fits

[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done 144 out of 144 | elapsed:  6.1min finished

GridSearchCV(cv=4, error_score='raise',
       estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=0, verbose=0, warm_start=False),
       fit_params=None, iid=True, n_jobs=-1,
       param_grid={'bootstrap': [True], 'max_depth': [5, 17, 6, 10], 'max_features': [0.7, 'log2', 'auto'], 'min_samples_leaf': [50, 60, 100], 'min_samples_split': [18], 'n_estimators': [400]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=2)

In [274]:
grid_search.best_params_

{'bootstrap': True,
 'max_depth': 6,
 'max_features': 'auto',
 'min_samples_leaf': 50,
 'min_samples_split': 18,
 'n_estimators': 400}

In [275]:
grid_search.best_score_

0.596541310179221

In [276]:
test.dtypes

Item_Identifier            object
Item_MRP                  float64
Item_Visibility           float64
Item_Weight               float64
mean_ratio                float64
Outlet_Years                int64
Item_Fat_Content_0        float64
Item_Fat_Content_1        float64
Item_Fat_Content_2        float64
Outlet_Identifier_0       float64
Outlet_Identifier_1       float64
Outlet_Identifier_2       float64
Outlet_Identifier_3       float64
Outlet_Identifier_4       float64
Outlet_Identifier_5       float64
Outlet_Identifier_6       float64
Outlet_Identifier_7       float64
Outlet_Identifier_8       float64
Outlet_Identifier_9       float64
Outlet_Location_Type_0    float64
Outlet_Location_Type_1    float64
Outlet_Location_Type_2    float64
Outlet_Size_0             float64
Outlet_Size_1             float64
Outlet_Size_2             float64
Outlet_Type_0             float64
Outlet_Type_1             float64
Outlet_Type_2             float64
Outlet_Type_3             float64
Item_Type_Combined_0      float64
Item_Type_Combined_1      float64
Item_Type_Combined_2      float64
dtype: object

In [279]:
test.drop(['Item_Identifier'],axis=1,inplace = True)
predicted = grid_search.predict(test)

C:\Users\Srikant\Anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [280]:
sub = pd.read_csv("Test_u94Q5KV.csv")
sub.drop(['Item_Fat_Content','Item_MRP','Item_Type','Item_Visibility','Item_Weight','Outlet_Establishment_Year','Outlet_Location_Type','Outlet_Size','Outlet_Type'],axis =1,inplace=True)

In [281]:
sub.dtypes

Item_Identifier      object
Outlet_Identifier    object
dtype: object

In [282]:
sub['Item_Outlet_Sales']=predicted
sub.dtypes

Item_Identifier       object
Outlet_Identifier     object
Item_Outlet_Sales    float64
dtype: object

In [283]:
sub.head(5)

  Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0           FDW58            OUT049        1650.749111
1           FDW14            OUT017        1365.389417
2           NCN55            OUT010         576.798581
3           FDQ58            OUT017        2473.143031
4           FDY38            OUT027        6271.880151

In [286]:
sub.to_csv('project2.csv',index = False)